{
  "env": {
    "browser": true,
    "node": true
  },
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "extends": [
    "@vue/typescript/recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "rules": {
    "indent": "off",
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off",
    "@typescript-eslint/camelcase": "off",
    "vue/singleline-html-element-content-newline": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prefer-const": "off"
  }
}
