.sp-fade-enter-active {
  transition: opacity .3s ease-in-out;
}
.sp-fade-enter,
.sp-fade-leave-active {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.sp-fade-fast-enter-active,
.sp-fade-fast-leave-active {
  transition: opacity .3s ease-in-out;
}
.sp-fade-fast-enter,
.sp-fade-fast-leave-active {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.sp-fadeMild-enter-active {
  transition: opacity .3s ease-in-out;
}
.sp-fadeMild-enter,
.sp-fadeMild-leave-active {
  opacity: .3;
  transition: opacity .3s ease-in-out;
}
.sp-fadeMild-fast-enter-active,
.sp-fadeMild-fast-leave-active {
  transition: opacity .3s ease-in-out;
}
.sp-fadeMild-fast-enter,
.sp-fadeMild-fast-leave-active {
  opacity: .3;
  transition: opacity .3s ease-in-out;
}