@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/web/JetBrainsMono-Regular.eot')
      format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --f-family-primary: 'Inter Var', 'Inter', 'Helvetica', sans-serif;
  --f-family-code: 'JetBrains Mono', 'Inter Var', 'Inter', 'Helvetica',
    sans-serif;

  --sp-f-primary: var(--f-family-primary);
  --sp-f-secondary: var(--f-family-code);

  --sp-f-w-light: 300;
  --sp-f-w-medium: 500;
  --sp-f-w-bold: 700;
  --sp-f-w-extra-bold: 800;
}

.-sp-f-overline-0 {
  font-weight: var(--f-w-medium);
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
