@import './_normalize.css';
@import './_layouts.css';
@import './_colors.css';
@import './_typography.css';
@import './_transitions.css';

:root {
  --sp-border-radius-primary: 12px;
}

a {
  text-decoration: none;
}
