.sp-text {
  font-size: 1.4rem;  
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  opacity:0.6;  
}
.sp-bold {
  font-weight: 600;  
}
.sp-active {
  opacity:1;
}
.sp-rounded {
  border-radius: 1.8rem;
}
.sp-dash {
  height:0.3rem;
  width:2rem;
  background: #111111;
  opacity:0.1;
  margin-top:2rem;
  margin-bottom:2rem;
}